<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sample page</title>
  </head>
  <body>
    <p>
    This meesage was sent by controller :
    <p>

    {{ message }}
    </p>
    </p>
  </body>
</html>